astropy==4.0.1
configobj==5.0.6
dataclasses
fbs==0.8.6
hmmlearn==0.2.3
matplotlib==3.2.1
numpy==1.16.3
pandas==0.24.2
parmap==1.5.2
Pillow==7.0.0
pomegranate==0.12.2
# fbs recommends PyQt5==5.9.2. It's EOL. We deliberately use a newer version.
# https://build-system.fman.io/manual/#installation
PyQt5==5.14.2
retrying==1.3.3
scikit-image==0.15.0
scikit-learn==0.21.2
scipy==1.4.1
tensorflow==2.0.1
tqdm==4.32.1

# The requirements above are the primary requirements.

# The tensorflow dependency astor changed its API in version 0.8. This arises
# the need for a hook in PyInstaller. A hook is added in PyInstaller
# development, but not in the most resent release 3.6. We pin astor below 0.8.
# When there is a new release of PyInstall with the hooks and it is possible to
# update PyInstall, this can be removed.
# https://github.com/pyinstaller/pyinstaller/commit/96897fc78d9cbb5b8be9d353499b25295badbc9f
astor<0.8
